div {
    /* border: 1px solid; */
}

hr {
    
}

/* Contact */

/* Skills */

/* Hobbies */

/* References */

/* Name */
.profilePic {
    border-radius: 50%;
    border: 3px solid;
    width: 250px;
}

/* About */

/* Work */

/* Education */